<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper

        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis-config.mapper.BookMapper">

    <select id="bookList" resultType="com.example.entity.BookDTO">
        select * from booktbl
    </select>

    <insert id="bookInsert" parameterType="com.example.entity.BookDTO">
        insert into booktbl(title, price, name, page)
        values(#{title}, #{price}, #{name}, #{page})
    </insert>

    <delete id="bookDelete" parameterType="int">
        delete
        from booktbl
        where num=#{num}
    </delete>

    <!--
    <select id="userLogin" resultType="com.example.entity.UserDTO" parameterType="com.example.entity.UserDTO">
        select *
        from usertbl
        where username=#{username} and password=#{password}
    </select>
    -->
</mapper>




